APP_HOST: 127.0.0.1
APP_PORT: 8080
APP_PROTOCOL: "tcp"

LOG_LEVEL: "info"
LOG_FORMAT: "text"

DATABASE: "postgres"
DB_HOST: "127.0.0.1"
DB_PORT: "5432"
DB_USER: "postgres"
DB_PASSWORD: ""
DB_MAXPOOLSIZE: "5"
DB_RETRY_COUNT: "10"